    /* font-family: 'Quicksand', sans-serif;
    font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
}


body{
    color: #2C6579;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

#all{
    margin-right: 0;
    margin-left: 0;
}

section{
    width: 100%;
    height: auto;
}

.icon{
    display: none;
}

    /* HEADER */

#en_tete{
    background-size: 100%;
}


#en_tete #barre_nav{
    display: flex;
    width: 100%;
    height:auto;
    background: white;
    padding: 1em;
    background-clip: border-box;
}

#en_tete #barre_nav .logo{
    justify-items: flex-start;
}

#en_tete #barre_nav .papillon_nav{
    margin-top: 45%;
    position: absolute;
    transform: rotate(20deg);
}
#en_tete #barre_nav .papillon_nav2{
    width: 50px;
    position: absolute;
    margin-left: 50%;
    transform: rotate(-20deg)
}

#en_tete #barre_nav .contenu_nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2%;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #2C6579;
}

#en_tete #barre_nav .contenu_nav li{
    list-style: none;
}

#en_tete #barre_nav .contenu_nav li .nav_links{
    text-decoration: none;
}

#en_tete #barre_nav .contenu_nav li a.logo_nav{
    margin-top: 0;
    width: 30px;
    height:auto;
    padding-left: 3em;
    padding-right: 0;
}



/* 
.topnav 
{
    background-color:white;
    display: none;
    height: 100%;
}
/* 
.menu{
    display: flex;
    overflow: hidden;
    background-color:white;    
    position: relative;
}

.menu a {
    color: #2C6579;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    display: block;
}

.topnav.icon 
{
    display: none;
}

.topnav.responsive
{
float: none;
display: flex;
text-align: left;
position: absolute;
top: 100%;
}

.responsive{
    display: none;
}

.items
{
display: flex;
} */

a{
color: #2C6579;  
}

.video{
filter:opacity(40%);
width: 100%;
position: relative;
padding: 0 0;
}

#article{
text-align: right;
display: block;
color: #2C6579;
top: 200px;
padding: 3em;
}

#article2.p{
text-align: center;
margin: 2rem; 
}

#article2{ 
top: 200px;
margin: auto;
display: block;
text-align: center;
color: #2C6579;
padding: 4em;
}
    

.articles
{
display: flex;
position: absolute;
}
.articles h1
{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.articles h2
{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
}

.positionnement{
    margin-left:5%;
    margin-right:5%;
}

/* SECTION 1 */



/* BOUTON DE LA NAVBAR */

button {
    background: none;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px white;
    color: #2C6579;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;

}
button::before, button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    }

.bouton:hover {
    transition: color 1.5s;
    border-radius: 10px;
}
.bouton::before, .bouton::after {
    border: 3px solid transparent;
    width: 0;
    height: 0;
    border-radius: 10px;
}
.bouton::before {
    top: 0;
    left: 0;
}
.bouton::after {
    bottom: 0;
    right: 0;
}
.bouton:hover {
    color: #2C6579;
}
.bouton:hover::before, .bouton:hover::after {
    width: 100%;
    height: 100%;
}
.bouton:hover::before {
    border-top-color: #2C6579; 
    border-right-color: #2C6579;
    transition: width 0.25s ease-out,
                height 0.25s ease-out 0.25s; 
}
    
.bouton:hover::after {
    border-bottom-color: #2C6579; 
    border-left-color: #2C6579;
    transition:
        border-color 0s ease-out 0.5s, 
        width 0.25s ease-out 0.5s, 
        height 0.25s ease-out 0.75s; 
} 

span{
    padding: 0 10px;
}

/* SECTIONS */


section h2.titre{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

p{
    font-family: 'Montserrat', sans-serif;
}
/* SECTION 1 */

#section1{
    position:relative;
    text-align: right;
}

#section1 #photo{
    width: 100%;
    padding: 2em 2em;
}

#section1 .background_section1{
    width: 100%;
    height: 850px;
    background-color: #a8deff;
    position: absolute;
    background-size: 100%;
    transform: skewY(-3deg);
    z-index: 10;
    top:-50px;
}

#section1 .cochon{
    position: absolute;
    display: flex;
    width: 150px;
    height: auto;

}

#section1 article{
    position: relative;
    padding: 6em 3em;
    z-index: 11;
}



/* SECTION 2 */

#section2 #carouselExampleControls{
    display:flex;
    flex-direction: row;
}

#section2 .background_section2{
    width: 100%;
    height: 600px;
    background-color: white;
    position: absolute;
    transform: skewY(3deg);
}

#section2 article{
    position: relative;
    padding: 6em 3em;
}

#section2 .personnage_2{
    position: absolute;
    height:auto;
    z-index:20;
    top: 425px;
}

.carousel{
    top: 200px;
}
.positionnement{
    margin:0;
}

/* SECTION 3 */

#section3{
    text-align: right;
}

#section3 .background_section3{
    width: 100%;
    height: 1000px;
    background-color: #ffd9eb;
    position: absolute;
    transform: skewY(3deg);
}

#section3 .personnage_1{
    width: 150px;
    height: auto;
    position: absolute;
    left:-20px;
    bottom: 40px;
}

#section3 .contact{
    list-style: none;
}

#section3 .contact .media_list{
    text-align: right;
}

#section3 .contact a{
    padding: 15px 15px;
}

#section3 article{
    position: relative;
    padding: 6em 3em;
}

.media_list i{
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.media_list i:hover{
    color: #a8deff;
    cursor: pointer;
}

iframe{
    width: 100%;
}
/* SECTION 4 */

#section4 .background_section4{
    width: 100%;
    height: 600px;
    background-color: white;
    position: absolute;
    transform: skewY(-3deg);
}


#section4 article{
    position: relative;
    padding: 6em 3em;
}

#section4 .papillon_1{
    width: 150px;
    height: auto;
    position: absolute;
    margin-top:80%;
    margin-left:-10%;
    transform: rotate(-25deg)
}

#section4 .papillon_2{
    width: 80px;
    height:auto;
    position: absolute;
    margin-bottom:50%;
    transform: rotate(30deg)
}

#section4 .papillon_3 {
    width: 50px;
    height:auto;
    position: absolute;
    margin-bottom:80%;
    top: -100px;
    transform: rotate(10deg)
}

.telecharger{
    text-align: center;
}

/* FOOTER */
#bas_de_page .background_footer{
    width: 100%;
    height: 130px;
    background-color: #2C6579;
    position: absolute;
}

#bas_de_page .background_footer2{
    width: 100%;
    height: 100px;
    background-color: #2C6579;
    position: absolute;
    transform: skewY(1.1deg);
}

#bas_de_page .copy{
    position: relative;
    color: white;
}

/*RESPONSIVE*/

#accueil_responsive{
    display: none;
}

#section1_responsive{
    display: none;
}

#section2_responsive{
    display: none;
}

#section3_responsive{
    display: none;
}

#section4_responsive{
    display: none;
}
.topnav{
    display: none;
}

@media (max-width:1218px) {
    #en_tete #barre_nav .main_nav .contenu_nav{
        display: none;
    }
    #accueil{
        display:none;
    }
    #section1{
        display:none;
    }
    #section2{
        display:none;
    }
    #section3{
        display:none;
    }
    #section4{
        display:none;
    }
    #bas_de_page{
    display: block;
    }

    .display_flex{
        display: flex;
    }

    .display_none{
        display: none;
    }

    .section_responsive{
        margin-top: 30%;
    }

    /*NAV BAR RESPONSIVE*/

    .papillon_nav, .papillon_nav2{
        display:none;
    }

    #barre_nav{
        text-align: center;
    }

    .topnav{
        display:flex;
        justify-content: center;
    }

    .icon{
        display:block;
        align-items: center;
    }

    .menu-flex{
        display: none;
        flex-direction: column;
    }

    .menu a {
        
        text-decoration: none;
    
    }

    /*ACCEUIL RESPONSIVE*/

    #accueil_responsive{
        display: block;
        position: absolute;
        top: 200px;
    }

    #accueil_responsive .articles_responsive{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-content: center;
        text-align: center;
        max-width: none;
    }

    #accueil_responsive .articles_responsive h1{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    #accueil_responsive .articles_responsive h2{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;  
    }
    /* SECTION 1 RESPONSIVE */
    #section1_responsive{
        display: none;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background: #a8deff 100%;
    }

    #section1_responsive .article_section1{
        padding: 3em 3em;
    }

    #section1_responsive #photo{
        width: 100%;
    }

    #section1_responsive #cochon{
        float : left;
    }
    /* SECTION 2 RESPONSIVE */
    #section2_responsive{
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #section2_responsive .article_section2{
        padding-top: 12em;
        padding-left: 3em;
        padding-right: 3em;
    }
    /* SECTION 3 RESPONSIVE */
    #section3_responsive{
        display: none;
        background-color: #ffd9eb;
    }
    
    #section3_responsive .partie3{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    #section3_responsive .partie3 .partie_haut{
        margin:150px;
        position: relative;
    }


    #section3_responsive .partie_haut .personnage_1{
        position: absolute;
        top: 150px;
        right: -110px;
    }
    }

    #section3_responsive .partie_haut iframe{
        width: 100%;
    }


    /* SECTION 4 RESPONSIVE */
    #section4_responsive{
        display: none;
    }

    #section4_responsive .partie4{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 150px;
    }
       
    #section4_responsive .partie4 .partie_haut{
        margin: 20px 150px;
        padding: 0 20px;
    }

    #section4_responsive .partie4 .partie_haut h2{
        text-transform: uppercase;
    }

    #section4_responsive .papillon_1,#section4_responsive .papillon_2,#section4_responsive .papillon_3{
        display: none;  
    }

    #section4_responsive .partie4 .partie_bas{
        margin-bottom: 20px;
    }
    /* FOOTER */
    .copy p{
        text-align: center;
    }

